.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.backgroundColorHomePage {
  background-color: #f0f1f1;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.backgroundHeaderTitle {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #f4f3f3;
  padding-top: 0px;
}

.addFilesButton {
  width: 100% !important;
  height: 200px !important;
  background-color: #ffffff !important;
  color: #2855b9 !important;
  transition: 0.3s !important;
  border: none !important;
  border-radius: 20px !important;
  margin-left: auto;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.addFilesButton:hover {
  background-color: #ebebeb !important;
  color: #1f469a !important;
}

.plusText {
  font-size: 60px;
  font-weight: 800;
}

.backgroundColorDownloadPage {
  background-color: #f0f1f1;
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.downloadLink {
  padding: 30px;
  text-align: center;
}

.qrCode {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 2rem auto;
  width: 160px;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
}

.fileShareContainerTitle {
  font-size: 24px;
}

.fileShareContainer {
  background-color: #e8e8e8;
  border-radius: 25px;
  text-align: center !important;
}

.downloadNavigationLink {
  max-width: 150px !important;
}

.backgroundColorOfPages {
  background-color: #f9fbfc;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.downloadLinkInput:focus {
  box-shadow: none !important;
}

.downloadTitleText {
  display: flex;
  font-size: 28px;
  font-weight: 500;
  text-align: center !important;
  justify-content: start !important;
  align-items: center !important;
}

.buttonUploadAgain {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  background-color: #4993d4 !important;
  border: none !important;
  border-radius: 20px !important;
}

.buttonUploadAgain:hover {
  background-color: #2573b7 !important;
}

.uploadedFilesContainer {
  margin-top: 20px;
  background-color: #ffffff;
  border-radius: 25px !important;
}

.bottomLineDownloadFileTitle {
  border-top: 2px solid #f2f1f2;
  width: 100% !important;
  border-radius: 25px;
}

.uploadedFilesList {
  justify-content: center;
  padding: 10px !important;
  border-radius: 15px !important;
}

.downloadFileItem {
  padding: 8px !important;
  margin-top: 5px !important;
  border: 2px solid #f3f3f3 !important;
  border-radius: 10px !important;
}

.downloadFileButton {
  border-radius: 7px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
  background-color: #4993d4 !important;
  border: none !important;
}

.downloadFileButton:hover {
  background-color: #2573b7 !important;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}